*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #10141E;
}

.registr-box{
    width: 400px;
    height: 373px;
    border-radius: 20px;
    background-color: #161D2F;
    margin-left: 500px;
    margin-top: 120px;
    box-shadow: 0 0 5px white;
}

.registr-logo{
    width: 76px;
    height: 40px;
    font-family: Outfit;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    padding-top: 25px;
    padding-left: 25px;
}

.svg-wrapp{
    margin-left: 690px;
    margin-top: 78px;
}

.svg-wrapp{
    cursor: pointer;
}

.email-registr{
    width: 336px;
    height: 37px;
    background-color: #161D2F;
    border-bottom: 2px solid grey;
    border-top: 1px solid #161D2F;
    border-left: 1px solid #161D2F;
    border-right: 1px solid #161D2F;
    position: absolute;
    top: 299px;
    left: 530px;
    color: #FFFFFF;
}

.email-registr:hover{
    cursor: pointer;
}
.password-registr{
    width: 336px;
    height: 37px;
    background-color: #161D2F;
    border-bottom: 2px solid grey;
    border-top: 1px solid #161D2F;
    border-left: 1px solid #161D2F;
    border-right: 1px solid #161D2F;
    position: absolute;
    top: 360px;
    left: 530px;
    color: #FFFFFF;
    
}

.password-registr:hover{
    cursor: pointer;
}

.registr-btn{
    width: 336px;
    height: 48px;
    border-radius: 6px;
    color: #FFFFFF;
    margin-top: 190px;
    margin-left: 30px;
    color: white; 
    background-color: red;
}

.registr-btn:hover{
    cursor: pointer;
}

.registr-btn:active{
    background-color: white;
    color: #161D2F;
    cursor: pointer;
    transition: 1s;
}

.registr-span-text{
    color: #FFFFFF;
    margin-left: 17px;
    position: absolute;
    bottom: 110px;
}

.sign-up{
    text-decoration: none;
    color: red;
    position: absolute;
    right: 535px;
    bottom: 110px;
}
.text-wrapp{
    margin-left: 92px;
}


.signup-box{
    width: 400px;
    height: 418px;
}

.sign-logo{
    width: 128px;
}

.repeat-password-registr{
    position: absolute;
    top: 421px;
    left: 530px;
    width: 336px;
    height: 37px;
    background-color: #161D2F;
    border-bottom: 2px solid grey;
    border-top: 1px solid #161D2F;
    border-left: 1px solid #161D2F;
    border-right: 1px solid #161D2F;
    color: #FFFFFF;
}



.signup-span-text{
    margin-left: 17px;
    position: absolute;
    bottom: 32px;
}

.login{
    position: absolute;
    right: 535px;
    bottom: 32px;
}

.signup-btn{
    margin-top: 220px;
}










